@model HuoltoWebApp.Models.Auto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Auto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RekNro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RekNro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Katsastus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Katsastus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Piirturi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Piirturi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alkolukko)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alkolukko)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nopeudenrajoitin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nopeudenrajoitin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoInfoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoInfoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Säiliö)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Säiliö.SäiliöId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AutoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
